<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dan Smith API</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="all">
      pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        font-family: 'Menlo', 'Courier New', 'Consola';
        line-height: 1.0;
        font-size: 11px;
      }
    </style>
  </head>
  <body>
    <%- content %>
  </body>
</html>
